.card {
    width: 100%;
    margin-bottom: 8px !important;
}

.money {
    display: flex;
    margin-bottom: 0.5rem;
}

.date {
    display: flex;
}

.moneyIcon{
    margin-right: 0.5rem;
    color: green;
}

.icon {
    margin-right: 0.5rem;
}

.detailsContainer {
    display: flex;
    justify-content: space-between;
}

.jarbasReimbursementContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 120px;
}