.container {
    padding: 1.5rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    min-height: 80vh;
}

.chart {
    height: 80vh;
}

.left {
    min-width: 75%;
    margin-bottom: 3.5rem;
}