.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

@media (max-width: 767px) {
  .container {
    background: url("../../assets/poster.png");
    background-size: cover;
  }
}
