.congresso-header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.congresso-title-text {
    font-family: Domine-Bold;
}

.navbar-dark .navbar-toggler {
    color: #fff;
    border-color: #fff;
}

header{
    background-color: var(--theme-bg-color);
    border-bottom: 3px solid rgb(255, 127, 39);
}

.politician-profile-picture-container{
    height: 60px;
    width: 60px;
    border: .2rem solid rgba(255, 127, 39, 0.8);
    overflow: hidden;
    background-color: white;
}

#profile-container{
    margin: 0.5rem 1rem 0.5rem 1rem;
}

.navbar {
    flex: 1;
}