html, body, #root, .content{
    margin: 0;
    height: 100%;
    overflow: hidden;
}

.search-box-container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-form img{
    max-height: 200px;
    max-width: 300px;
    width: 100%;
    height: 100%;
}

.search-form {
    max-width: 300px;
    min-width: 250px;
    padding: 15px;
    border: 15px solid;
    border-image: linear-gradient(45deg, rgb(0,143,104), rgb(250,224,66)) 1;
    border-radius: 10px;
    width: 25%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #FFF;
}

.search-form input{
    width: 100%;
    height: 20px;
    text-align: center;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #aaa;
}

.search-form button{
    margin-top: 10px;
    width: 100%;
    padding: 0px;
    height: 40px;
    font-weight: bold;
    background-color: darkblue;
    border: 3px solid #555;
    border-radius: 5px;
    color: #FFF;
    font-size: 16px;
}

.video-container{
    margin: 0px;
    padding: 0px;
    position: absolute;
    top:-30px;
    left:-30px;
    z-index: -100;
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    display: flex;
    background-color: #000;
}

