.container {
    display: flex;
    align-items: center;
}

.logo {
  width: 48px;
  height: 48px;
}

.title {
    color: var(--theme-title-color);
    font-size: 1.25rem;
    font-weight: 500;
    line-height: 1.2;
    margin-bottom: 0;
}
